/*2.5rem, because we had 6rem and minus 3.5rem header(for all pages in shared.css)*/
main {
  padding-top: 2.5rem;
}

.testimonial {
    font-size: 1.2rem;
  }

  .testimonial__image-container {
    transform: skew(20deg);
    overflow: hidden;
    width: 60%;
    max-width: 40rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);    
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top;
    transform: skew(-20deg) scale(1.3);
  }
  
  .testimonial__info {
    text-align: right;
    padding: 0.9rem;
  }
  
  #customer-2.testimonial {
    text-align: right;
  }
  
  #customer-2 .testimonial__info {
    text-align: left;
  }
  
  .testimonial__name {
    margin: 0.2rem;
    font-size: 2rem;
    color: #ff5454;
  }
  
  .testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
  }
  
  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  
  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }
  
  .testimonial__text {
    margin: 0.2rem;
    white-space: pre-line;
  }
  
  @media (min-width: 40rem) {
    .testimonial {
      margin: 3rem auto;
      max-width: 1500px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .testimonial__image-container {
      width: 65%;
      
    }
    .testimonial__info {
      width: 30%;
    }
  }