@font-face {
    font-family: "AnonymousPro";
    src: url(anonymousPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AnonymousPro";
    src: url(anonymousPro-Bold.ttf) format('truetype');
    font-weight: 700;
}

main {
    padding-top: 2.5rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package {
    /*because horizontal blocks*/
    width: 80%;
    /*to make some space beetwen but 80% width each*/
    margin: 1rem 0;
    border: 4px solid #0e4f1f;
    border-left: none;
    position: relative;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454 /*!important*/;
}

.package a {
    text-decoration: none;
    /*to use page default*/
    color: inherit;
    /*to take a full available width*/
    display: block;
    padding: 2rem;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    font-size: 0.8rem;
    color: white;
    background: #ff5454;
    padding: 0.5rem;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    padding: 1rem;
    border: 1px solid #0e4f1f;
    color: #0e4f1f;
    background: white;
    font-size: 1.2rem
    /*font-family: 'AnonymousPro', sans-serif;*/
    /*font-weight: 700;*/
    /*font shorthand:*/
    /*font: font-style font-variant font-weight font-size/lint-height font-family*/
    /*font: 700 1.2rem 'AnonymousPro', sans-serif;*/
} 

.clearfix {
    /*clear floats on both sides, it means that 
    each element after that will not respect
    previous floats*/
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(232, 252, 237, 0.95);
    float: right;
    border-right: none;
    /*as we use in .package*/
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

@media (min-width: 40rem) {
    /*here we restricted all <main>, not each package separately*/
    main {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1500px) {
    .package {
        border-left: 4px solid #0e4f1f;
    }
    #free {
        border-right: 4px solid #0e4f1f;
    }
    #free:hover,
    #free:active {
    border-right-color: #ff5454;
}
}










